modules = ["nodejs-20", "web", "postgresql-16"]

run = "npm run dev"

hidden = [".config", ".git", "generated-icon.png", "node_modules", "dist"]

[nix]
channel = "stable-24_05"
packages = ["jq", "ffmpeg", "lsof"]

[deployment]
deploymentTarget = "gce"
build = ["sh", "-c", "npm run build"]
run = ["sh", "-c", "npm start"]

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 3000
externalPort = 3000

[[ports]]
localPort = 4000
externalPort = 3001

[workflows]
runButton = "Start Dev Server"

[[workflows.workflow]]
name = "Start Dev Server"
author = "system"
mode = "sequential"

[[workflows.workflow.tasks]]
task = "packager.installForAll"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "DISABLE_VITE=false npm run dev"
waitForPort = 5000
